<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<style>
			.backg {
                background: rgb(37, 37, 37);
            }
		</style>
	</head>
	<body class="backg">
				<nav class="menu menu--shylock">
					<ul class="menu__list">
						<li class="menu__item menu__item--current"><a href="#" class="menu__link">Home</a></li>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<li class="menu__item"><a href="#" class="menu__link">My Assignments</a></li>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<li class="menu__item"><a href="#" class="menu__link">Add Assignment</a></li>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<li class="menu__item"><a href="#" class="menu__link">Profile</a></li>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<li class="menu__item"><a href="#" class="menu__link">Logout</a></li>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</ul>
				</nav>
		<script src="js/classie.js"></script>
		<script src="js/clipboard.min.js"></script>

		
		
	</body>
</html>
